@import url('https://fonts.googleapis.com/css?family=Varela+Round:100,200,300,400,500,600,700|Lobster:100,200,300,400,500,600,700');

/* General */

body {
    background-image: url("../images/background-image.png");
}

body>div {
    background-color: rgba(57, 56, 58, 0.8);
    color: #fafafa;
}

h1,
h3,
h4 {
    font-family: "Lobster", sans-serif;
}

p {
    font-family: "Varela Round", sans-serif;
}

/* Footer */

footer {
    background-color: rgba(57, 56, 58, 1);
    color: #fafafa;
    text-align: center;
}

li a {
    text-decoration: none;
    color: #fafafa;
    display: inline-block;
}

li a:hover {
    text-decoration: none;
    color: #fafafa;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

p .fa {
    margin-right: 5px;
    font-size: 18px;
}

p span {
    font-family: "Lobster", sans-serif;
    font-size: 18px;
    font-weight: 100;
}

/* Heading */

header {
    background-color: rgba(57, 56, 58, 1);
    color: #fafafa;
}

#contact {
    margin-top: 20px;
}

.logo {
    width: 69px;
    height: 69px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.contact {
    padding-top: 29px;
    text-align: right;
}

#header {
    padding: 20px;
}

/* Map */

#map,
#buttons {
    margin-bottom: 20px;
}

#map {
    min-height: 499px;
}

/* Buttons */

.btn {
    width: 100%;
    font-family: "Varela Round", sans-serif;
}

.click {
    background: rgba(0, 0, 0, 0.2);
}

#search-hotels {
    background: forestgreen;
    border-color: darkgreen;
    color: #fafafa;
    font-weight: 700;
}

#search-museum,
#search-zoo,
#search-shopping {
    background-color: firebrick;
    border-color: darkred;
    color: #fafafa;
    font-weight: 700;
}

#search-restaurant,
#search-bar,
#search-cafe {
    background-color: dodgerblue;
    border-color: blue;
    color: #fafafa;
    font-weight: 700;
}



/* Info Window */

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}

#info-content {
    color: #000;
}

/* Media Queries */

@media(max-width: 991px) {
    #footer-details div {
        border-bottom: #353131 solid 3px;
    }
    .l-button {
        padding-right: 0;
    }

    .m-button {
        padding-right: 0;
        padding-left: 0;
    }

    .r-button {
        padding-left: 0;
    }
}

@media (min-width: 992px) {
    #map {
        min-height: 650px;
    }

    .btn {
        margin-bottom: 20px;
        height: 40px;
    }
}

@media (max-width: 767px) {
    body>div {
        text-align: center;
    }
    #heading {
        border-bottom: #353131 solid 3px;
    }
}